<nav>
    <!--menu-->
    <div>
      <img src="/img/unhas.gif" class="menu" alt="Imagem do Menu de unhas">
    </div> 

      <ul>
        <li>
          <a href="#">
            <h1> Nails Model </h1></a>
        </li>
        <li>
          <a href="#">Inicio</a>
        </li>

        <li>
          <a href="#cards">Estilos de unhas</a>
        </li>

        <li>
          <a href="#cadastro"> #Cadastre-se</a>
        </li>

      </ul>
     
  </nav>